  <tr>
    <td> <%= resume.content %> </td>
    
    <td> <%= resume.updated_at %> </td>
    <td> <%= link_to('Edit', edit_job_resume_path(resume.job, resume), class: "btn btn-default btn-xs") %></td>
    <td> <%= link_to('Delete', job_resume_path(resume.job, resume), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
  </tr>
