<div class="col-md-12">

  <h2 class="text-center"> 我发表过的文章 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Content </th>
        <th> Picture </th>
        <th> Group Name </th>
        <th> Created at </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => "resume", :collection => @resumes, :as => :resume %>
    </tbody>
  </table>
</div>
