<div class="col-md-12">
  <div class="grouptwo">
    <% if current_user && current_user == grouptwo.user %>
      <%= link_to("Edit", edit_grouptwo_path(@grouptwo), class: "btn btn-primary pull-right")%>
    <% end %> 
  </div>
  <h2><%= @grouptwo.title %></h2>
  <p><%= @grouptwo.description %></p>
</div>
