  <div class="jumbotron">
    <h1 class="title">Slim China</h1>
    <p class="slogan">Slim China 是你这辈子参加的最后一个“减肥”社群!
    <br>
    史上最健康的减肥社群！
    <br>
    你将在这里体验到从未有过的美丽的美丽和自信！
    <br>
    打破从开始到放弃的死循环，让你真正感受作为一个瘦子的自由！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上加入</a></p>
  </div>


  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>科学的方法带你飞</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>变美丽的三大法宝</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>做兼职交朋友</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
