  <div class="col-md-12">
     <div class="row box">
       <div class="box-inner col-md-6 col-md-offset-3">
         <h1 class="title">Slim China</h1>
         <p class="slogan">这将是你这辈子参加的最后一个“减肥”社群!
           <br>
               这是史上最健康的减肥社群！
           <br>
           你将在这里收获美丽和自信！
           <br>
           打破从开始到放弃的循环，你会成为瘦子！
         </p>
         <p class="lead">
           <%= link_to '马上加入', pages_path, class: 'btn btn-danger' %>
         </p>
       </div>
     </div>
   </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">科学的方法带你飞</h2>
          <p class="lead">什么是减肥的正确方法？</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">变美丽的三大法宝</h2>
          <p class="lead">如何通过食物，运动，漂亮的衣服助自己变成美丽的瘦子？ </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">做兼职交朋友</h2>
          <p class="lead">想要学会如何做出健康而低脂的晚餐，快来加入我们吧！</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
